.Key {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;

  height: 32px;
  margin: 0 2px;
  
  cursor: pointer;
}

.Key:hover {
  border: 2px solid rgba(255,255,255,0.35);
  margin: -2px 0px;
}

.Key img {
  -webkit-filter: grayscale(100%) brightness(35%) !important;
  filter: grayscale(100%) brightness(35%) !important;
}

.active img {
  -webkit-filter: grayscale(0%) brightness(100%) !important;
  filter: grayscale(0%) brightness(100%) !important;
}
