.Key {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;

  height: 32px;
  margin: 0 2px;

  opacity: 0.6;
}

.Key:hover {
  opacity: 1.0;
}

.available {
  opacity: 1.0;
}

.used {
  opacity: 0.3;
}