.Key {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;

  height: 32px;
  margin: 0 2px;
  
  cursor: pointer;
}

.Key:hover {
  border: 2px solid #aaa;
  margin: -2px 0px;
}

.Key img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.active img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-filter: brightness(100%);
  filter: brightness(100%);

  background-color: #55f;
}
