.Location {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 100%;
    height: 32px;

    padding: 2px;

    opacity: 0.6;
    border: 2px;
    border-color: #22a;
    border-style: solid;
}

.Location:hover {
    background-color: #33b;
}

.Location.selected {
    border-color: #ff0;
}

.available {
    opacity: 1.0;
}

.divider {
    display: inline-block;
    width: 1px;
    background-color: #fff;
    color: #fff;
    padding: 0px;
    margin: 0 16px;
}