.Location {
    display: flex;
    flex-direction: row;
    justify-content: left;

    height: 32px;
    width: 280px;
    padding: 2px;

    border: 2px;
    border-color: #22a;
    border-style: solid;

    cursor: pointer;
}

.Location:hover {
    border-color: #aaa;
}

.Location.selected {
    border-color: #ff0;
}

.Location img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.available img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.divider {
    display: inline-block;
    width: 1px;
    background-color: #fff;
    color: #fff;
    padding: 0px;
    margin: 0 8px;
}