.App {
  /* position: absolute; */

  width: 100%;

  display: flex;
  flex-wrap: nowrap;
}

.keys-container {
  display: inline-flex;
  flex-direction: column;
}

.key-section {
  margin: 0 0 0 0;
  padding: 2px 0;
  width: 216px;
  border-bottom: 2px solid #fff;
}

.no-border {
  border: none;
}

#locations {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 550px;
  width: 600px;
  border: 1px dotted black;
  resize: both;
  overflow: hidden;
}

.info {
  position: relative;
  display: block;
}

/* Global element styling */

a, a:visited {
  color: #FF0;
}

a:hover, a:active {
  color: #A6F;
}

body {
  background-color: #22a;
  color: #fff;
}