.App {
  /* position: absolute; */

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.keys-container {
  display: inline-flex;
  width: 400px;
  flex-direction: row;
  border-bottom: 2px solid white;
}

.boss-section {
  margin: 0 0 0 0;
  padding: 2px 0;
  height: 216px;
  border-right: 2px solid #fff;
}

.char-section {
  margin: 0 0 0 0;
  padding: 2px 0;
  width: 72px;
  height: 216px;
  border-right: 2px solid #fff;
}

.key-section {
  margin: 0 0 0 0;
  padding: 2px 0;
  width: 108px;
  height: 216px;
  border-right: 2px solid #fff;
}

.no-border {
  border: none;
}

.location-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  
  /* resize: both; */
  overflow: hidden;
}

.info {
  position: relative;
  display: block;
}

/* Global element styling */

a, a:visited {
  color: #FF0;
}

a:hover, a:active {
  color: #A6F;
}

body {
  background-color: #010761;
  color: #fff;
}